h1 {
    font-size: 40px;
}

.centering {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
  
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.button__state-send {
    background-color: rgb(165, 165, 165);
    width: 100px;
    height: 30px;
    border-radius: 3px;
}

.button__state-save {
    background-color: rgb(91, 214, 91);
    border-radius: 3px;
}

.button__state-delete {
    background-color: rgb(225, 84, 59);
    border-radius: 3px;
}

.link__nav {
    color: black;
    font-size: 26px;
}

.form-city__input {
    border-radius: 3px;
    font-size: 20px;
    margin-top: -15px;
    height: 30px;
    width: 300px;
}

